.header-container {
  * {
    transition: all ease 500ms;
  }

  .desktop-header,
  .movile-header {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.2);
  }
  .titulo {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }

    .logo {
      display: none;
      svg {
        color: $azul;
        fill: $azul;
        width: 100px;
        height: 60px;
      }
    }
  }

  nav {
    ul {
      align-items: center;
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        margin: 0 10px;
        position: relative;

        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          color: $azul;
        }

        .name {
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  .movile-header {
    padding: 0;
    nav {
      width: 100%;

      ul {
        padding: 0;
        justify-content: space-between;

        $margin: 40px;

        &.elements {
          display: grid;
          grid-template-columns: 1fr 4fr 1fr;
          justify-content: center;
          justify-items: center;
        }
        li {
          &:first-child {
            margin-left: $margin;
          }
          &:last-child {
            margin-right: $margin;
          }
        }
      }
    }
  }

  .nav-item .dropdown {
    position: absolute;
    width: 220px;
    display: flex;
    flex-direction: column;
    right: -11px;
    top: 25px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.2);

    /* padding: 10px; */
    overflow: hidden;
    height: 0;
    top: 46px;
    li {
      display: flex; // Asegura que los elementos li usen flexbox
      align-items: center; // Centra el contenido de li verticalmente
      white-space: nowrap; // Evita que el texto se pase a la siguiente línea
      overflow: hidden; // Oculta el texto que desborde el contenedor
      text-overflow: ellipsis;
      width: 90%;
      height: 40px;
      display: flex;
      justify-content: flex-start;
    }
  }

  .categorias:hover .dropdown {
    height: 300px;
    height: auto;
  }

  .dropdown-sub {
    display: none;
  }

  .dropdown li:hover .dropdown-sub {
    display: flex; /* Muestra las subcategorías al hacer hover en una categoría */
  }
}

@media screen and (min-width: 800px) {
  .dashboard .movile-header {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .dashboard {
    .desktop-header {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .header-container .movile-header nav ul.elements li {
    &:first-child {
      margin-left: 20px;
    }

    &:last-child {
      margin-right: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    nav.nav-bar-desk {
      display: flex;

      ul {
        position: relative;
        /*  li {
          &:nth-child(1) {
            position: initial;
          }

          &:nth-child(2) {
            position: relative;
          }

          position: absolute;
        } */
      }
    }

    nav.nav-bar-movile {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    .desktop-header {
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
      justify-content: center;
      align-items: center;
      justify-items: center;
      padding: 0;
    }

    nav.nav-bar-desk {
      display: none;
    }

    nav.nav-bar-movile {
      display: flex;

      height: calc(100vh - 60px);
      background-color: #fff;
      z-index: 1000;
      position: fixed;
      width: 60vw;
      max-width: 235px;
      left: -100%;
      transition: 600ms ease all;
      &.active {
        left: 0%;
      }

      ul {
        align-items: start;
        width: 100%;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        li {
          width: 100%;
          padding-bottom: 10px;
          height: initial;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .nav-item.categorias {
          a[href="#"] {
            display: none;
          }
        }
        .nav-item .dropdown {
          box-shadow: none;
          height: initial;
          background-color: transparent;
          position: initial;
          padding: 0;

          li {
            height: initial;
            margin: 0;
          }
        }
      }
    }
  }
}
