.container-input {
  border: 1px solid #aaa;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 7fr;

  height: 46px;
  position: relative;
  width: 100%;

  display: flex; //nueva linea

  &.textarea {

    height: 100%;
    display: flex;
  }

  &,
  * {
    transition: 500ms ease all;
  }

  &:hover {
    border: 1px solid $azul;
  }

  &.focus {
    border: 1px solid $azul;

    span.holder {
      font-size: 14px;
      font-weight: 600;
      top: 0;
    }
  }

  input {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    outline: none;
    padding: 0 10px;
    position: relative;
    width: 90%;
    color: $azul;
  }

  /*  input[type="file"] {
    display: none;
  } */

  .file-label {
    border: none;
    color: #ccc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  select {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    outline: none;
    padding: 0 10px;
    position: relative;
    width: 90%;
    color: $azul;
  }

  label {
    @include center;
    max-width: 46px;
    min-width: 46px;
    .icono {
      @include center;
      color: #fff;
    }
  }

  textarea {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    outline: none;
    padding: 10px 30px;
    position: relative;
    width: 90%;
    color: $azul;
  }

  span.holder {
    background-color: #fff;
    color: $azul;
    font-size: 18px;
    left: 40px;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    top: 23px;
    transform: translateY(-50%);
    transition: 0.3s;

    &.has-content {
      font-size: 14px;
      font-weight: 600;
      top: 0 !important;
    }
  }
}
